:root{

    --bg-color:#F1F8E9;

    --panel-color:#FFFFFF;

    --text-color:#1B381B;

    --primary-green:#2E7D32;

    --secondary-green:#A5D6A7;

    --accent-green:#00E676;

    --border-color:#388E3C;

}

.dark-mode{

    --bg-color: #121212;
    --panel-color: #1e1e1e;
    --text-color: #ffffff;
    --button-color: #2e7d32;
    --border-color: #66bb6a;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;

    background:
    linear-gradient(
        135deg,
        #eef8e9,
        #f6fff2,
        #ffffff
    );

    min-height:100vh;

    padding:20px;
}
.container{
    display:flex;
    gap:15px;

    max-width:1100px;
    margin:auto;

    align-items:flex-start;
}

.left-panel{
    flex:2.8;
    min-width:0;

    background:#FFFFFF;

    border:2px solid #A5D6A7;

    border-radius:20px;

    padding:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
}
.right-panel{
    flex:1;

    min-width:250px;

    background:#FFFFFF;

    border:2px solid #A5D6A7;

    border-radius:20px;

    padding:15px;

    display:flex;

    flex-direction:column;

    gap:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

/* Sections */
.header-section,
.display-section,
.tab-section,
.calculator-section,
.voice-section,
.banner,
.card{

    background:#FFFFFF;

    border:1px solid #DDEEDB;

    border-radius:18px;

    padding:20px;
}

.calculator-section{
    padding: 20px;
    overflow: hidden;
}


/* Mobile Responsive */
  @media(max-width:768px){

    .container{
        flex-direction:column;
    }

}  
/* HEADER */

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 2px solid #dcedc8;
}

.menu-btn{
    position: absolute;
    left: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


 .logo{
    margin:0;

    font-family:'Cinzel', serif;

    font-size:40px;

    letter-spacing:6px;

    color:#2E7D32;

    text-shadow:
        0px 2px 8px rgba(2, 87, 70, 0.25);

    font-weight:600;
}
/* .header-section{




/* DISPLAY SECTION */

.display-section{
    margin-top:20px;
    background:#ffffff;

border:2px solid #dcedc8;
}

.display-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.label{
    color:rgb(14, 13, 13);
    font-size:14px;
}

.expression{
    font-size:24px;
    color:#0f1510;
    margin-top:10px;
    word-wrap:break-word;
}


.result{
    text-align:right;
    font-size:50px;
    color:#2e7d32;
    font-weight:bold;
}
/* CALCULATOR BUTTONS */


.button-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
}
.button-grid button{

    border: 1px solid #dcedc8;

    padding:12px;

    border-radius:16px;

   background:#f9fcf7;

    color:#2e7d32;

    font-size:14px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
    box-shadow:0 2px 4px rgba(0,0,0,0.05);


}
  .equal-btn{

    background:#66BB6A !important;

    color:white;

    font-weight:bold;
}
.ac-btn{
    background:#aed581 !important;
    color:white;
}

.button-grid button:hover{
    transform:scale(1.05);
    background:#0f5e08;

    color:rgb(105, 168, 224);
}


/* VOICE SECTION */

.card{
    background:#ffffff;
    border:1px solid #dcedc8;
    color:#2E7D32;
    border-radius:15px;
}


.card:hover{

    transform:translateY(-4px);

}

.banner{
    background:#F8FFF5;
    border:1px solid #DDEEDB;
    border-radius:20px;
    padding:20px;
}

.banner h2{
    color:#2E7D32;
}

.banner-mic{
    background:#81C784;
    color:white;
}


.side-menu{

    display:none;

    position:absolute;

    top:80px;

    left:20px;

    background:rgb(255, 254, 254);

    border-radius:15px;

    padding:15px;

    box-shadow:0 5px 15px rgba(244, 242, 242, 0.15);

    z-index:1000;
}

.menu-item{

    padding:10px;

    cursor:pointer;

    color:#356303;

    font-weight:bold;
}

.menu-item:hover{

    background:#caeac4;

    border-radius:10px;
}

/* test */
#formulaList,
#currencyList,
#binaryList{

    display:none;

    margin-top:10px;

    border-radius:10px;

    overflow:hidden;
}
#formulaList .card,
#currencyList .card,
#binaryList .card{

    margin-bottom:5px;

    font-size:14px;
}
.title-box{
    text-align:center;
}
.right-panel label{
    font-weight:bold;
    color:#1c5a01;
    margin-top:10px;
}

.right-panel select{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:20px;

    border:1px solid #DDEEDB;
    border-radius:10px;

    background:#ffffff;

    font-size:14px;

    color:#2e7d32;

    cursor:pointer;
}

.right-panel select:focus{
    outline:none;
    border-color:#095103;
}

.history-panel{
    margin-top:15px;
    padding:15px;
    border-radius:12px;
    background:#013e01;
    color:#222;
}

.history-panel h3{
    margin-bottom:10px;
}

#historyContent{
    max-height:200px;
    overflow-y:auto;
    margin-bottom:10px;
}

.history-panel button{
    padding:8px 12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.history-page{
    position:absolute;
    top:80px;
    left:40px;
    width:85%;
    height:70%;
    background:white;
    border:2px solid rgb(1, 44, 1);
    border-radius:15px;
    padding:20px;
    overflow-y:auto;
    z-index:999;
}

.history-page h2{
    margin-bottom:15px;
    color:rgb(2, 45, 2);
}

#historyContent{
    min-height:250px;
    margin-bottom:20px;
}

.history-page button{
    padding:10px 15px;
    margin-right:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.settings-menu{

    display:none;

    position:absolute;

    top:70px;

    left:20px;

    width:260px;

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,0.2);

    z-index:2000;

}


.settings-menu h3{

    text-align:center;

    color:#159947;

    margin-bottom:20px;

}



.setting-option{

    display:flex;

    justify-content:space-between;

    padding:15px;

    margin:10px 0;

    background:#e8f5e9;

    border-radius:12px;

    cursor:pointer;

}



.setting-dropdown{

    display:none;

    padding:10px;

}



.setting-dropdown select{

    width:100%;

    padding:10px;

    margin:8px 0;

    border-radius:10px;

    border:1px solid #159947;

}



.setting-dropdown label{

    display:block;

    margin-top:10px;

}
/* Dark Mode */

body.dark-mode{
    background: #101820;
}


.dark-mode .container{
    background: #16232b;
}


.dark-mode .left-panel,
.dark-mode .right-panel{
    background: #1d2d35;
    color: white;
}


/* Header */
body.dark-mode .header{
    background: #0f3d32;
}


body.dark-mode .logo{
    color: #7CFFB2;
}


/* Display Area */

body.dark-mode .display-section{
    background: #10241d;
    border: 1px solid #2ecc71;
}


.dark-mode .result{
    color: #7CFFB2;
}


/* Buttons */

.dark-mode button{

    background: #164d36;
    color:white;
    border:1px solid #2ecc71;

}


.dark-mode button:hover{

    background:#2ecc71;
    color:black;

}


/* Dropdown */

.dark-mode select,
.dark-mode input{

    background:#10241d;
    color:white;
    border:1px solid #2ecc71;

}


/* Menu */

.dark-mode .side-menu{

    background:#13261f;
    border:1px solid #2ecc71;

}


.dark-mode .menu-item:hover{

    background:#2ecc71;
    color:black;

}